<% provide(:title, 'Account Edit') %>

<h1>Edit Account Information</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>


<div class="row">
  <div class="col-mid-6 col-md-offset-3">
    <p>
      <%= f.label :fname, "First name:" %>
      <%= f.text_field :fname, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :fname, "Last name:" %>
      <%= f.text_field :lname, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :email, "Email Address:" %>
      <%= f.email_field :email, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit "Edit account", class: "btn btn-primary" %> <br/>
    </p>
  </div>
</div>

<% end %>
