<% provide(:title, 'Profile') %>
<h1> Profile for <%= @user.nickname %> </h1>

<div id="Avatar"> <%= gravatar_for @user %> </div>
<p> Nickname: <%= @user.nickname %> </p>
<p> Email Address: <%= @user.email %> </p>
<p> Current Level: <%= @user.level %> </p>
<p> Maximum Toys Ever Produced: <%= @user.max %> </p>

<% if user_is_logged_in? %>
  <% if session[:id] == @user.id %>
    <%= button_to 'Edit profile', edit_user_path(@user), :class => "button", :method => :get %>
  <% end %>
<% end %>
