<h1> Profile for <%= @user.nickname %> </h1>

<%= gravatar_for @user %> <br/>
<%= @user.nickname %> <br/>
<%= @user.email %>

<% if user_is_logged_in? %>
  <%= button_to 'Edit profile', edit_user_path(@user), :class => "button", :method => :get %>
<% end %>
