<% provide(:title, 'Login') %>

<h1>Welcome to Penguin Powered Industry</h1>

<%=form_tag("/login", method: "post") do %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p>
      <%= label_tag :nickname, "Username:" %>
      <%= text_field_tag :nickname, "", class: 'form-control' %>
    </p>
    <p>
      <%= label_tag :password, "Password:" %>
      <%= password_field_tag :password, "", class: 'form-control' %>
    </p>

    <p>
      <%= submit_tag "Login", :id=> "Submit", class: 'form-control btn btn-mid btn-danger'  %> <br/>
    </p>
  </div>
  <div class="col-md-4"></div>
</div>

<% end %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2 class="text-center" style="color: #f23942; font-weight: bold; font-size: 150%;">OR</h2>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3><%= button_to "Sign up", signup_path, class: "btn btn-md btn-danger btn-block", :method => "get" %></h3>
  </div>
  <div class="col-md-4"></div>
</div>
