<% provide(:title, 'Login') %>

<h1>Welcome to Penguin Powered Industry</h1>

<%=form_tag("/login", method: "post") do %>

<div class="row">
  <div class="col-mid-6 col-md-offset-1">
    <p>
      <%= label_tag :nickname, "Username:" %>
      <%= text_field_tag :nickname, "", class: 'form-control' %>
    </p>
    <p>
      <%= label_tag :password, "Password:" %>
      <%= password_field_tag :password, "", class: 'form-control' %>
    </p>

    <p>
      <%= submit_tag "Login", class: 'form-control'  %> <br/>
    </p>
  </div>
</div>

<% end %>


<h3><%= button_to "Sign up", signup_path, :method => "get" %></h3>
